{% extends "base.html" %}
{% block content %}
{% load static %}

<body class="container background-color bg-dark">
    <!-- Encabezado -->
    <header class="bg-dark text-white text-center py-4 shadow">
        <h2 class="text-uppercase">Pasos y Procederes para los Cálculos y Evaluación de los Indicadores</h2>
    </header>

    <div class="container my-5">
        <!-- Descripción -->
        <div class="mb-5">
            <h3 class="text-light">Descripción General</h3>
            <p class="text-light">Están dirigidos a la evaluación de las dimensiones condición física y cognoscitiva
                motriz relacionadas con el (PFEEF) dinamizador del proceso pedagógico de la educación física.Es
                necesario destacar que los escolares participan durante el desarrollo de la clase, directamente en las
                acciones del paso # 1 y sus tres procederes, de igual manera en el paso y los procederes de evaluación
                de la dimensión cognoscitiva motriz. </p>
        </div>

        <!-- Paso 1 -->
        <div class="mb-5">
            <h3 class="text-center text-light">Paso # 1</h3>
            <h4 class="text-light">Orientaciones para la evaluación del indicador exigencia de esfuerzo cardiaco</h4>
            <p class="text-light">El cómo controlar y procesar los datos y las acciones de verificación del tipo de
                clase,los rangos de esfuerzos y criterios evaluativos establecidos para la etapa que se evalúa. </p>
            <!-- Proceder 1 -->
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">La ejecución del control pulso métrico de la influencia fisiológica de las cargas
                físicas en ambiente socializado durante el desarrollo de la clase; en seis ocasiones; en reposo,
                concluyendo los 10 minutos de acondicionamiento, y luego sucesivamente en los minutos 20, 30 y 40 de la
                parte principal, así como la referencia de la recuperación en el minuto 45. Este procedimiento se
                concreta fundamentalmente mediante preguntas heurísticas. </p>
            <!-- Proceder 2 -->
            <h5 class="text-light">Proceder 2</h5>
            <p class="text-light">El profesor, en cada una de las instancias de control establecidas en la estructura de
                la clase, expresa el término preventivo “control” previamente comprendido su significado por parte los
                escolares, continua la vos ejecutiva cuenten, transcurrido 10 segundos, el profesor indica; “ya” e
                inmediatamente los escolares al unísono continúan el trabajo y se produce en breve tiempo el
                procesamiento estadístico mental de las pulsaciones obtenidas, hasta llevarlas a minutos e ir expresando
                a viva vos la cantidad de pulsaciones medidas. </p>
            <!-- Proceder 3 -->
            <h5 class="text-light">Proceder 3</h5>
            <p class="text-light">La introducción por parte del profesor de las preguntas heurísticas: quién está por
                encima o por debajo de los rangos de esfuerzos establecidos para la clase; las respuestas obtenidas
                sirven de retroalimentación y referencia comparativa de los profesor y los escolares para concretar la
                regulación y autorregulación de las cargas físicas de la clase en ambiente socializado, sobre la base de
                los rangos de esfuerzos y criterios evaluativos establecidos para el indicador exigencia de esfuerzo
                cardiaco en la etapa que se evalúa. Ver tabla 1</p>

            <!-- Tabla 1 -->
            <h4 class="text-center text-light">1.Indicador exigencia de esfuerzo cardiaco y sus rangos de esfuerzos
                evaluativos.</h4>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-dark align-middle text-center">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Primera etapa</th>
                            <th>Evaluacion</th>
                            <th>Segunda etapa</th>
                            <th>Evaluacion</th>
                            <th>Tercera etapa</th>
                            <th>Evaluacion</th>
                            <th>Eval.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menos de 64%</td>
                            <td class="text-danger">M</td>
                            <td>Menos de 69%</td>
                            <td class="text-danger">M</td>
                            <td>Menos de 74%</td>
                            <td class="text-danger">M</td>
                            <td>2 Puntos</td>
                        </tr>
                        <tr>
                            <td>64%</td>
                            <td class="text-warning">R</td>
                            <td>69%</td>
                            <td class="text-warning">R</td>
                            <td>74%</td>
                            <td class="text-warning">R</td>
                            <td>3 Puntos</td>
                        </tr>
                        <tr>
                            <td>65% - 69%</td>
                            <td class="text-success">B</td>
                            <td>70% - 75%</td>
                            <td class="text-success">B</td>
                            <td>75% - 85%</td>
                            <td class="text-success">B</td>
                            <td>4 Puntos</td>
                        </tr>
                        <tr>
                            <td>70% - 75%</td>
                            <td class="text-primary">MB</td>
                            <td>76% - 85%</td>
                            <td class="text-primary">MB</td>
                            <td>86% - 95%</td>
                            <td class="text-primary">MB</td>
                            <td>5 Puntos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Paso 2 -->
        <div class="mb-5">
            <h3 class="text-center text-light">Paso # 2</h3>
            <h4 class="text-light">Orientación de las acciones a ejecutar en ambiente socializado profesor-escolares
                dirigidas al control y evaluación del indicador rendimiento de la acción motriz. </h4>
            <!-- Proceder 1 -->
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">Realizar la medición del tiempo de trabajo activo de los escolares en una unidad de
                tiempo con el apoyo de un protocolo de observación y luego comparado con el tiempo planificado.</p>
            <!-- Proceder 2 -->
            <h5 class="text-light">Proceder 2 </h5>
            <p class="text-light">La verificación comparativa del tiempo de trabajo activo, con los criterios
                evaluativos del rendimiento considerando, además, la condición de estar en correspondencia con el rango
                de esfuerzo cardiaco establecido para la etapa que se evalúa. Ver tabla 2</p>
            <!-- Tabla 2 -->
            <h4 class="text-center text-light">2.Indicador rendimiento de la acción motriz y sus criterios evaluativos.
            </h4>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-dark align-middle text-center">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Primera etapa</th>
                            <th>Evaluacion</th>
                            <th>Segunda etapa</th>
                            <th>Evaluacion</th>
                            <th>Tercera etapa</th>
                            <th>Evaluacion</th>
                            <th>Eval.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menos de 56%</td>
                            <td class="text-danger">M</td>
                            <td>Menos de 64%</td>
                            <td class="text-danger">M</td>
                            <td>Menos de 72%</td>
                            <td class="text-danger">M</td>
                            <td>2 Puntos</td>
                        </tr>
                        <tr>
                            <td>58%</td>
                            <td class="text-warning">R</td>
                            <td>66%</td>
                            <td class="text-warning">R</td>
                            <td>76%</td>
                            <td class="text-warning">R</td>
                            <td>3 Puntos</td>
                        </tr>
                        <tr>
                            <td>59% - 61%</td>
                            <td class="text-success">B</td>
                            <td>67% - 69%</td>
                            <td class="text-success">B</td>
                            <td>77% - 79%</td>
                            <td class="text-success">B</td>
                            <td>4 Puntos</td>
                        </tr>
                        <tr>
                            <td>62% - 64%</td>
                            <td class="text-primary">MB</td>
                            <td>70% - 72%</td>
                            <td class="text-primary">MB</td>
                            <td>80% - 82%</td>
                            <td class="text-primary">MB</td>
                            <td>5 Puntos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Paso 3 -->
        <div class="mb-5">
            <h3 class="text-center text-light">Paso # 3</h3>
            <h4 class="text-light">Determinar ambiente socializado profesor-escolares, la eficiencia del esfuerzo
                realizado con respecto al rendimiento físico obtenido.</h4>
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">Con los resultados de los indicadores exigencia de esfuerzo cardiaco y rendimiento de
                la acción motriz, calcular y evaluar la eficiencia del esfuerzo cardiaco, comparándose con los criterios
                evaluativos de eficiencia según la etapa del curso valorándose, además si es económico y ventajosos para
                la salud de los escolares. Ver tabla 3 </p>

            <!-- Tabla 3 -->
            <h4 class="text-center text-light">3.Indicador eficiencia del esfuerzo cardiaco y sus criterios evaluativos.
            </h4>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-dark align-middle text-center">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Primera etapa</th>
                            <th>Evaluacion</th>
                            <th>Segunda etapa</th>
                            <th>Evaluacion</th>
                            <th>Tercera etapa</th>
                            <th>Evaluacion</th>
                            <th>Eval.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mayor > 1,5 %</td>
                            <td class="text-danger">M</td>
                            <td>Mayor > 1%</td>
                            <td class="text-danger">M</td>
                            <td>Mayor > 0,1 %</td>
                            <td class="text-danger">M</td>
                            <td>2 Puntos</td>
                        </tr>
                        <tr>
                            <td>≤ 1,5 %</td>
                            <td class="text-primary">MB</td>
                            <td>≤ 1 %</td>
                            <td class="text-primary">MB</td>
                            <td>≤ 0,1 %</td>
                            <td class="text-primary">MB</td>
                            <td>5 Puntos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Paso 4 -->
        <div class="mb-5">
            <h3 class="text-center text-light">Paso # 4</h3>
            <h4 class="text-light">Verificación de la asimilación de las cargas físicas por parte del organismo
                biológico de los escolares durante el desarrollo de las clases y el curso. </h4>
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">Con los resultados de los pulsos de recuperación en el minuto 45, parte final de la
                clase y, el pulso en reposo, precedente al acondicionamiento físico en la parte inicial, calcular su
                diferencia para definir la evaluación del indicador y con ello los escolares. ver Tabla 4 </p>

            <!-- Tabla 4 -->
            <h4 class="text-center text-light">4.Indicador tolerancia y adaptación a las cargas físicas y sus criterios
                evaluativos.</h4>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-dark align-middle text-center">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Todas las Etapas</th>
                            <th>Evaluacion</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mayor 40 pulsaciones</td>
                            <td class="text-danger">M</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>40 a 30 pulsaciones</td>
                            <td class="text-warning">R</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>29 a 19 pulsaciones</td>
                            <td class="text-success">B</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>18 a 10 pulsaciones</td>
                            <td class="text-primary">MB</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Paso 5 -->
        <div class="mb-5">
            <h3 class="text-center text-light">Paso # 5</h3>
            <h4 class="text-light">Realizar la evaluación integral de la dimensión condición física considerando el
                comportamiento integrado de los indicadores. </h4>
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">La elaboración por parte de los escolares de tablas y gráficos relacionados con los
                resultados comparativos de los indicadores. </p>
            <h5 class="text-light">Proceder 2</h5>
            <p class="text-light">Triangulación de los datos correspondiente a la calificación de cada indicador de modo
                que permita definir la evaluación de la dimensión condición física. </p>
        </div>

        <!-- Evaluación Cualitativa -->
        <div class="mb-5">
            <h3 class="text-center text-light">Procedimientos e indicadores cualitativos para evaluar la dimensión
                cognoscitiva motriz</h3>
            <h3 class="text-center text-light">Paso # 1</h3>

            <p class="text-light">La elaboran de curvas fisiológicas para lograr una visión gráfica concerniente al
                comportamiento de la influencia fisiológica de las cargas físicas en el organismo biológico de los
                escolares durante el desarrollo del proceso físico educativo de la educación física. Constituye un
                procedimiento didáctico de evaluación formativa indispensable para estimular la aprehensión. </p>
            <h5 class="text-light">Proceder 1</h5>
            <p class="text-light">Realizar la evaluación cualitativa de la curva fisiológica a partir de los criterios
                de evaluación que se presentan a continuación.

                De igual menara, las curvas fisiológicas son evaluadas de. Regular (R) La evaluación de la curva
                fisiológica será Mal (M) cuando no cumple con ninguno de los criterios evaluativos referidos
                anteriormente. </p>
            <ul class="text-light">
                <li><strong>Muy Bien (MB):</strong>Cuando los valores de la curva fisiológica están en correspondencia
                    con los criterios evaluativos del indicador de esfuerzos para la etapa del curso que se evalúa, y
                    asimismo, los valores de frecuencia cardiaca en la parte final de la clase, estén aproximados a la
                    registrada en reposo, y a su vez las curvas fisiológicas describan una trayectoria ascendente
                    armónica y progresiva aproximadamente hasta (36,9) o (40) minutos; punto máximo de la parte
                    principal y en lo adelante, armónica y regresiva hasta el minuto (45) de la parte final de la clase.
                </li>
                <li><strong>Bien (B):</strong> cuando los valores de la curva fisiológica están en correspondencia con
                    los criterios evaluativos del indicador de esfuerzos para la etapa del curso que se evalúa, y
                    asimismo, los valores de frecuencia cardiaca en la parte final de la clase, estén aproximados a los
                    registrados en reposo, pero, la trayectoria de las curvas fisiológicas describen un descenso que no
                    rebasa las 40 pulsaciones de diferencia, con respecto al último registro, y luego un ascenso
                    armónico y progresivo aproximadamente hasta el minuto (30) punto máximo de la parte principal y en
                    lo adelante, armónica y regresiva hasta el minuto (45) de la parte final de la clase.
                </li>
                <li><strong>Regular (R):</strong>Cuando los valores de la curva fisiológica no están en correspondencia
                    con los criterios evaluativos del indicador de esfuerzos establecido para la etapa del curso que se
                    evalúa y además, la trayectoria de las curvas describen dos descenso que no rebasan las 40
                    pulsaciones de diferencia, con respecto al último registro de pulsaciones , asimismo, que luego
                    describa un ascenso armónico y progresivo aproximadamente hasta el minuto (30) de la parte
                    principal y en lo adelante, armónica y regresiva hasta el minuto (45) de la parte final de la
                    clase.</li>
                <li><strong>Mal (M):</strong> Cuando no cumple con ninguno de los criterios evaluativos referidos
                    anteriormente.</li>
            </ul>
            <h5 class="text-light">Proceder 2</h5>
            <p class="text-light">La producción de un texto analítico, valorativo, crítico y reflexivo por parte de los
                escolares acerca de lo acontecido en el proceso de evaluación de la dimensión condición física y las
                curvas fisiológicas, incluyéndose sugerencias y propuestas de medidas según convenga. </p>

            <h5 class="text-light">Proceder 3</h5>
            <p class="text-light">Con los contenidos del texto producido, los profesores y los escolares en talleres de
                socialización y sistematización de experiencias, se van apropiando del conocimiento y las habilidades
                para la autogestión de educación física personal y personalizada. Aquí desempeñan un papel importante,
                el dialogo, la conversación y las preguntas heurísticas. </p>

            <h5 class="text-light">Proceder 4</h5>
            <p class="text-light">Triangulación de los datos correspondiente a la calificación de cada indicador que
                permita definir la evaluación de la dimensión cognoscitiva motriz.</p>
            <!-- Criterios -->


            <ul class="text-light">
                <h5 class="text-light"><strong>Indicadores para la evaluación de la dimensión cognoscitiva motriz:</strong></h5>
                <li>Desempeño protagónico de los escolares en las actividades de diagnóstico,
                    planificación y concreción práctica de la actividad física programada.</li>
                <li>Aplicación práctica de procedimientos e indicadores para el desarrollo de
                    habilidades motrices y la condición física por parte de los escolares.
                </li>
                <li>Argumentación analítica, valorativa, crítica y reflexiva por parte de los
                    escolares a cerca del comportamiento de los indicadores de la clase de educación física en su
                    (PFEEF).</li>
                <li>Calidad de la expresión escrita y oral en la producción y exposición del
                    texto analítico, valorativo, crítico y reflexivo sobre lo acontecido en el (PFEEF).
                </li>
            </ul>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
